<head>
  <title>civic_challenge</title>
</head>

<body>
  <!--Main Code-->
  <h3>Api Log</h3>
  {{> apiList}}

  <h2>Add new Api call</h2>
  {{> newApiCall}}
</body>

<!--****************************************-->
<!--Apilist template for generating ul/il content-->
<template name="apiList">
  <div class="list-container">
    <ul>
    {{#each apiCall}}
      <li>{{timestamp}}</li>
      <li>{{clientname}}</li>
      <li>{{endpoint}}</li>
      <li>{{result}}</li>
      <hr>
    {{/each}}
    </ul>
  </div>
</template>
<!--Generate a new api call-->
<template name="newApiCall">
  <form class="new-api-call">
    Clientname:<br>
    <input type="text" name="clientname"><br>
    Endpoint:<br>
    <input type="text" name="endpoint"><br>
    Result:<br>
    <select name="result">
      <option value="Success">Success</option>
      <option value="Error">Error</option>
    </select><br>
    <input type="submit" value="create">
  </form>
</template>
